<footer class="my-20 pb-2">
  <p class="text-center text-sm text-slate-500">
    Ziele Software - {new Date().getFullYear()}
  </p>
  <p class="text-center text-xs text-slate-500 mt-1 mb-2">
    <a
      href="https://twitter.com/dejeloper"
      target="_blank"
      rel="noopener"
      class="hover:underline">@dejeloper</a
    >
  </p>
</footer>
